# Runtime
PORT=8002
# NODE_ENV=production

# Cloudflare
# https://dash.cloudflare.com/profile/api-tokens
CF_API_TOKEN=xxxxx
CF_ACCOUNT_ID=xxxxx

# Dashboard auth
AUTH_USER=admin
AUTH_PASS=password123

# Optional: if omitted, EasyPages can generate and persist .session_secret
SESSION_SECRET=2gcs1br2kf8dasjk8
